/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
    color:#333;
}

/* Header */
header{
   background:linear-gradient(135deg,#2563eb,#1e40af);
    color:white;
    padding:15px 0;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:500;
    margin:10px;
}

nav a:hover{
    color:#ffd700;
}

/* Section Styling */
section{
    padding:50px 20px;
}

/* Hero Section */
section h1{
   font-size:27px;
    margin-bottom:15px;
}

section p{
    font-size:16px;
    margin-bottom:15px;
}

/* Button */
button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#22c55e;
    color:white;
   font-size:16px;
}

button:hover{
    background:#16a34a;
    transform:scale(1.05);
}

/* Statistics Section */
section h3{
    margin-top:20px;
    color:#1e40af;
}

section h3 + p{
    font-size:22px;
    font-weight:600;
    color:#333;
}

/* Unordered List */
ul li{
    background:white;
    margin:10px;
    padding:12px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
    list-style: none;
}

/* Ordered List */
ol li{
    background:#e0f2fe;
    margin:10px;
    padding:12px;
    border-radius:8px;
    list-style: none;
}

/* Footer */
footer{
    background:#1e293b;
    color:white;
    padding:20px;
}

footer p{
    margin:5px;
}