/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: Poppins, sans-serif;
    background:#f4f7fc;
}

h1{
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    color: white;
    padding: 15px;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

h2{
    color:#1e40af;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 20px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:5px;
}

button:hover{
    background:#16a34a;
    transform:scale(1.05);
}

/* Footer */
footer{
    background:#1e293b;
    color:white;
    padding:20px;
}

footer p{
    margin:5px 0;
    color: white;
}
