/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: Poppins, sans-serif;
    background:#f4f7fc;
    text-align:center;
    padding-top:0;
}

h1{
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    color: white;
    padding: 15px 0;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

h2{
    color:#1e40af;
}

input{
    padding:10px;
    width:250px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 20px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1e40af;
}

a{
    text-decoration:none;
    color:#2563eb;
}

a:hover{
    text-decoration:underline;
}

hr{
    margin:20px;
}

p{
    color:#555;
}

h3 + p{
    background:#f1f5f9;
    padding:15px;
    margin:10px auto 25px;
    max-width:600px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

/* Footer */
footer{
    background:#1e293b;
    color:white;
    padding:20px;
    text-align:center;
    margin-top:30px;
}

footer p{
    margin:5px 0;
    color: white;
}
